<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    <div id="login">
      <form method="post" action="/login">
        ID : <input type="id" name="txtID">
        PASSWORD : <input type="password" name="txtPW">
        <input type="submit" value="로그인">
      </form>
    </div>
    <div id="error">error : </div>
  </body>
</html>
